@import url("https://fonts.googleapis.com/css2?family=Reenie+Beanie&family=Roboto:wght@300;400;500;700&display=swap");
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

input,
button,
textarea,
select {
  font: inherit;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  display: inline-block;
}

html {
  scroll-behavior: smooth;
}

#artist-items-page .delete-confirmation-pop-up .buttons-wrap, #visitor-listing .no-results .buttons-wrap {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-inline: 5%;
}

#artist-items-page .delete-confirmation-pop-up .buttons-wrap .delete-confirmation-btn, #artist-items-page .snapshot-pop-up .backToAddNewItem, #visitor-listing .no-results .buttons-wrap .no-results-btn {
  background-color: #FCEBD5;
  color: #A16A5E;
  font-weight: 500;
  padding: 0.25rem 0.75rem;
  border-radius: 3px;
  border: none;
  cursor: pointer;
  transition: all 200ms ease-in-out;
}

body,
html {
  overflow-x: hidden !important;
}

body {
  min-height: 100vh;
  font-family: "Roboto", sans-serif;
  background-color: #FCEBD5;
  position: relative;
}

.hidden {
  display: none !important;
}

.pop-up-overlay {
  position: absolute;
  min-height: 100%;
  min-width: 100%;
  top: 0;
  left: 0;
  background-color: black;
  opacity: 0.5;
  z-index: 99;
}

.page:not(:first-of-type) {
  display: none;
}

header > * {
  display: none;
}

header {
  position: relative;
  z-index: 10;
}
header .navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-right: 1.125rem;
  position: relative;
  background-color: #FCEBD5;
  z-index: 20;
  text-align: center;
  padding-block: 0.75rem;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.25);
  width: 100%;
}
header .navbar .landing-page-navtext {
  margin-inline: auto;
}
header .navbar .landing-page-navtext h1 {
  font-family: "Reenie Beanie", cursive;
  font-size: 1.875rem;
  color: #A16A5E;
  text-transform: capitalize;
}
header .navbar .nav-inner-wrap {
  display: flex;
  position: relative;
}
header .navbar .nav-inner-wrap img {
  width: 104px;
  position: absolute;
  left: 0;
  top: -1.25rem;
  z-index: 3;
}
header .navbar .nav-inner-wrap .logo-background {
  width: 50px;
  height: 60px;
  position: absolute;
  left: 27px;
  top: 2px;
  z-index: 2;
  background-color: #FCEBD5;
  box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.25);
}
header .navbar .nav-inner-wrap h1 {
  font-family: "Reenie Beanie", cursive;
  font-size: 1.875rem;
  color: #A16A5E;
  text-transform: capitalize;
  margin-left: 6.375rem;
}
header .navbar .auction-icon img {
  width: 29px;
}
header .navbar .hamburger-menu {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5px;
  cursor: pointer;
}
header .navbar .hamburger-menu .line {
  width: 32px;
  height: 5px;
  background-color: #A16A5E;
}
header .nav-menu {
  position: absolute;
  top: 69px;
  left: 0;
  right: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-block: 1.25rem;
  background-color: #A16A5E;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  z-index: -1;
  transition: all 300ms ease-in-out;
  transform: translateY(-105%);
}
header .nav-menu.active {
  transform: translateY(0%);
}
header .nav-menu a {
  color: #FCEBD5;
  font-size: 2rem;
  font-weight: 300;
  line-height: 50px;
  transition: all 200ms ease-in-out;
}
header .nav-menu a:hover {
  transform: scale(1.075);
}

#home .main-landing-page {
  padding-top: 3.25rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}
#home .main-landing-page .landing-page-logo {
  margin-bottom: 3.5rem;
}
#home .main-landing-page .artist-visitor-selection-box {
  min-width: 260px;
  height: 392.5px;
  position: relative;
}
#home .main-landing-page .artist-visitor-selection-box .artist-box-wrapper,
#home .main-landing-page .artist-visitor-selection-box .visitor-box-wrapper {
  position: absolute;
  transition: all 300ms ease-in-out;
}
#home .main-landing-page .artist-visitor-selection-box .artist-box-wrapper:hover,
#home .main-landing-page .artist-visitor-selection-box .visitor-box-wrapper:hover {
  filter: drop-shadow(0px 6px 6px rgba(0, 0, 0, 0.25));
  z-index: 2;
}
#home .main-landing-page .artist-visitor-selection-box .visitor-box-wrapper {
  bottom: 0;
}
#home .main-landing-page .artist-visitor-selection-box .artist-box,
#home .main-landing-page .artist-visitor-selection-box .visitor-box {
  position: absolute;
  min-width: 260px;
  height: 276.5px;
  transition: all 300ms ease-in-out;
  left: 0;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-inline: 1.438rem;
}
#home .main-landing-page .artist-visitor-selection-box .artist-box h2,
#home .main-landing-page .artist-visitor-selection-box .visitor-box h2 {
  font-family: "Reenie Beanie", cursive;
  font-size: 2.8125rem;
}
#home .main-landing-page .artist-visitor-selection-box .artist-box:hover,
#home .main-landing-page .artist-visitor-selection-box .visitor-box:hover {
  transform: scale(1.075);
  z-index: 2;
}
#home .main-landing-page .artist-visitor-selection-box .artist-box {
  top: 0;
  background-color: #EDD5BB;
  clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0 42%);
  color: #A16A5E;
  padding-top: 2rem;
}
#home .main-landing-page .artist-visitor-selection-box .artist-box label {
  position: relative;
  align-self: self-end;
}
#home .main-landing-page .artist-visitor-selection-box .artist-box .choose-artist {
  width: 100px;
  border-radius: 2px;
  appearance: none;
  -webkit-appearance: none;
  font-size: 0.8125rem;
  font-weight: 300;
  padding: 0.395rem 1rem;
  background-color: transparent;
  border: 1px solid #A16A5E;
  color: #A16A5E;
  cursor: pointer;
  outline: none;
}
#home .main-landing-page .artist-visitor-selection-box .artist-box .choose-artist.input-control {
  padding-right: 2.5rem;
}
#home .main-landing-page .artist-visitor-selection-box .artist-box .choose-artist option {
  background-color: #FCEBD5;
  color: #A16A5E;
}
#home .main-landing-page .artist-visitor-selection-box .visitor-box {
  bottom: 0;
  background-color: #A16A5E;
  clip-path: polygon(0 100%, 100% 100%, 100% 58%, 0 0);
  padding-bottom: 4rem;
  color: #FCEBD5;
}
#home .main-landing-page .artist-visitor-selection-box .visitor-box h2 {
  margin-top: auto;
}

.dropdown-arrow {
  pointer-events: none;
  position: absolute;
  top: 41%;
  right: 10px;
  transition: all 300ms ease;
  border-color: transparent;
  border-top-color: #A16A5E;
  border-style: solid;
  border-width: 7px 8px 0;
}
.dropdown-arrow.flip {
  transform: rotate(180deg);
}

#visitor-home-page .hero {
  padding-block: 3px;
}
#visitor-home-page .hero .hero-inner {
  background-image: url("../images/Bricks.png");
  background-position: center;
  background-size: auto;
  background-repeat: no-repeat;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 2.5rem 1.125rem;
}
#visitor-home-page .hero .hero-inner h2 {
  font-size: 1.875rem;
  width: 60%;
  color: #A16A5E;
  font-weight: 500;
  line-height: 35px;
}
#visitor-home-page .hero .hero-inner .listing-button {
  font-size: 0.75rem;
  font-weight: 700;
  color: #FCEBD5;
  background-color: #A16A5E;
  padding: 0.3rem 1.225rem;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.25);
  border-radius: 2px;
  transition: all 200ms ease-in-out;
}
#visitor-home-page .hero .hero-inner .listing-button:hover {
  background-color: rgba(161, 106, 94, 0.75);
}
#visitor-home-page .slideshow-gallery {
  padding-block: 2.75rem;
  background-color: #EDD5BB;
}
#visitor-home-page .slideshow-gallery .slideshow-container-right {
  margin-bottom: 2.625rem;
  animation: autoScrollRight 50s linear infinite;
}
#visitor-home-page .slideshow-gallery .slideshow-container-left {
  animation: autoScrollLeft 50s linear infinite;
}
#visitor-home-page .slideshow-gallery .slideshow-container-right .slideshow-track,
#visitor-home-page .slideshow-gallery .slideshow-container-left .slideshow-track {
  display: flex;
  width: 4320px;
}
#visitor-home-page .slideshow-gallery .slideshow-container-right .slideshow-img,
#visitor-home-page .slideshow-gallery .slideshow-container-left .slideshow-img {
  width: 218px;
  height: 155px;
}
#visitor-home-page .slideshow-gallery .slideshow-container-right .slideshow-img img,
#visitor-home-page .slideshow-gallery .slideshow-container-left .slideshow-img img {
  height: 100%;
  object-fit: cover;
  object-position: center;
  padding-inline: 0.844rem;
  cursor: pointer;
}
#visitor-home-page .slideshow-gallery .slideshow-container-right .slideshow-img:hover,
#visitor-home-page .slideshow-gallery .slideshow-container-left .slideshow-img:hover {
  transform: scale(1.125);
  transition: 500ms all;
}
#visitor-home-page .slideshow-gallery .slideshow-container-right:hover,
#visitor-home-page .slideshow-gallery .slideshow-container-left:hover {
  animation-play-state: paused;
}
#visitor-home-page .slideshow-gallery .slideshow-container-right .slideshow-img img {
  filter: drop-shadow(-5px -5px 5px rgba(0, 0, 0, 0.35));
}
#visitor-home-page .slideshow-gallery .slideshow-container-left .slideshow-img img {
  filter: drop-shadow(5px 5px 5px rgba(0, 0, 0, 0.35));
}
#visitor-home-page .testimonials {
  padding: 4.688rem 4.313rem;
  position: relative;
}
#visitor-home-page .testimonials .overflow-control {
  min-height: 164px;
  overflow-x: hidden;
}
#visitor-home-page .testimonials .overflow-control .carousel {
  min-height: 164px;
  display: flex;
  align-items: center;
  transition: 300ms ease-in-out;
}
#visitor-home-page .testimonials .testimonials-arrow-left,
#visitor-home-page .testimonials .testimonials-arrow-right {
  position: absolute;
  top: 50%;
  width: 14px;
  height: 52px;
  border: none;
  background: transparent;
  transform: translateY(-50%);
  cursor: pointer;
}
#visitor-home-page .testimonials .testimonials-arrow-left {
  left: 1rem;
}
#visitor-home-page .testimonials .testimonials-arrow-right {
  right: 1rem;
}
#visitor-home-page .testimonials .testimonials__inner-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  min-width: 100%;
}
#visitor-home-page .testimonials .testimonials__inner-container .border-line {
  position: absolute;
  content: "";
  height: 164px;
  width: 1px;
  background-color: #A16A5E;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
#visitor-home-page .testimonials .testimonials__inner-container .author-box,
#visitor-home-page .testimonials .testimonials__inner-container .testimoanil-text-box {
  width: 106px;
}
#visitor-home-page .testimonials .testimonials__inner-container .author-box {
  position: relative;
  background-color: #E09686;
  color: #F8F8F8;
  padding: 1.75rem 0.5rem 0.5rem;
}
#visitor-home-page .testimonials .testimonials__inner-container .author-box .author__text {
  font-size: 0.5625rem;
  line-height: 138%;
  text-align: center;
}
#visitor-home-page .testimonials .testimonials__inner-container .author-box .author__img {
  width: 46px;
  height: 46px;
  border-radius: 100ch;
  border: 2px solid #A16A5E;
  overflow: hidden;
  position: absolute;
  top: -50%;
  left: 50%;
  transform: translate(-50%, 50%);
}
#visitor-home-page .testimonials .testimonials__inner-container .testimoanil-text-box {
  font-size: 0.5625rem;
  line-height: 138%;
  color: #A16A5E;
  text-align: center;
}
@keyframes autoScrollRight {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-1962px);
  }
}
@keyframes autoScrollLeft {
  0% {
    transform: translateX(-1962px);
  }
  100% {
    transform: translateX(0);
  }
}

#visitor-listing .listing-gallery {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2.5rem;
  padding-top: 2.25rem;
  transition: all 200ms ease-in-out;
  background-color: #EDD5BB;
}
#visitor-listing .listing-gallery .listed-item-container {
  color: #A16A5E;
  background-color: #FCEBD5;
  width: 100%;
  box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.25);
}
#visitor-listing .listing-gallery .listed-item-container .listed-item__img-box img {
  height: 162px;
  width: 100%;
  object-fit: cover;
  object-position: center;
}
#visitor-listing .listing-gallery .listed-item-container .listed-item__text-box {
  padding: 3px 18px 5px;
}
#visitor-listing .listing-gallery .listed-item-container .listed-item__text-box .artist-and-price-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
#visitor-listing .listing-gallery .listed-item-container .listed-item__text-box .artist-and-price-container .artist-name {
  font-family: "Reenie Beanie", cursive;
  font-size: 1.875rem;
  line-height: 25px;
  margin-bottom: 4px;
}
#visitor-listing .listing-gallery .listed-item-container .listed-item__text-box .artist-and-price-container .item-price {
  color: #FCEBD5;
  background-color: #A16A5E;
  padding: 1px 8px;
  border-radius: 2px;
  font-size: 0.75rem;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.25);
}
#visitor-listing .listing-gallery .listed-item-container .listed-item__text-box .item-title {
  font-size: 0.875rem;
  margin-bottom: 3px;
}
#visitor-listing .listing-gallery .listed-item-container .listed-item__text-box .item-description {
  font-size: 0.6875rem;
}
#visitor-listing .listing-gallery .listed-item-container:nth-child(even) {
  color: #FCEBD5;
  background-color: #A16A5E;
}
#visitor-listing .listing-gallery .listed-item-container:nth-child(even) .item-price {
  color: #A16A5E !important;
  background-color: #FCEBD5 !important;
}
#visitor-listing .filters-button {
  position: fixed;
  right: 1.125rem;
  bottom: 1.3rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  height: 67px;
  width: 65px;
  background-color: #D44C2E;
  border-radius: 2px;
  cursor: pointer;
  z-index: 15;
  transform: rotate(90deg);
}
#visitor-listing .filters-button img {
  display: none;
}
#visitor-listing .filters-button .line {
  width: 41px;
  height: 4px;
  background-color: #FCEBD5;
  position: relative;
  transition: all 200ms ease-in-out;
  opacity: 1;
}
#visitor-listing .filters-button .line:nth-of-type(1)::after {
  transition: all 200ms ease-in-out;
  position: absolute;
  content: "";
  top: -4px;
  left: 50%;
  height: 12px;
  width: 4px;
  background-color: #FCEBD5;
  transform: translate(-50%);
}
#visitor-listing .filters-button .line:nth-of-type(2)::after {
  transition: all 200ms ease-in-out;
  position: absolute;
  content: "";
  top: -4px;
  left: 20%;
  height: 12px;
  width: 4px;
  background-color: #FCEBD5;
  transform: translate(-20%);
}
#visitor-listing .filters-button .line:nth-of-type(3)::after {
  transition: all 200ms ease-in-out;
  position: absolute;
  content: "";
  top: -4px;
  left: 80%;
  height: 12px;
  width: 4px;
  background-color: #FCEBD5;
  transform: translate(-80%);
}
#visitor-listing .filters-button:hover .line:nth-of-type(1)::after {
  left: 20%;
  transform: translate(-20%);
}
#visitor-listing .filters-button:hover .line:nth-of-type(2)::after {
  left: 80%;
  transform: translate(-80%);
}
#visitor-listing .filters-button:hover .line:nth-of-type(3)::after {
  left: 50%;
  transform: translate(-50%);
}
#visitor-listing .filters-button:hover img {
  transform: rotate(-90deg) scale(1.1);
}
#visitor-listing .filters-pop-up {
  position: absolute;
  left: 0;
  right: 0;
  top: 69px;
  display: flex;
  flex-direction: column;
  min-height: calc(100vh - 69px);
  background-color: #A16A5E;
  color: #FCEBD5;
  z-index: 1;
  padding: 0.938rem 1.125rem 1.375rem;
  transform: translateX(100%);
  transition: all 300ms ease-in-out;
}
#visitor-listing .filters-pop-up.show {
  transform: translateX(0%);
}
#visitor-listing .filters-pop-up .filters-pop-up__header {
  display: flex;
  justify-content: space-between;
  padding-top: 0.4rem;
  margin-bottom: 1.125rem;
}
#visitor-listing .filters-pop-up .filters-pop-up__header h2 {
  font-size: 1.875rem;
  font-weight: 500;
}
#visitor-listing .filters-pop-up .filters-pop-up__header .close-filters-button {
  background: transparent;
  border: none;
  cursor: pointer;
  transition: all 200ms ease-in-out;
}
#visitor-listing .filters-pop-up .filters-pop-up__header .close-filters-button:hover {
  transform: scale(1.075);
}
#visitor-listing .filters-pop-up .filter-box {
  font-weight: 300;
  display: flex;
  flex-direction: column;
  align-items: start;
  position: relative;
  padding-bottom: 2rem;
  border-bottom: 2px solid #FCEBD5;
  margin-bottom: 2.313rem;
}
#visitor-listing .filters-pop-up .filter-box label {
  font-size: 1.125rem;
  margin-bottom: 1rem;
  position: relative;
}
#visitor-listing .filters-pop-up .filter-box label.sel {
  margin-bottom: 0;
  display: flex;
  flex-direction: column;
}
#visitor-listing .filters-pop-up .filter-box label.sel select {
  margin-top: 1rem;
}
#visitor-listing .filters-pop-up .filter-box .input-control {
  font-size: 0.8125rem;
  background-color: transparent;
  color: #FCEBD5;
  border: 1px solid #FCEBD5;
  width: 97px;
  border-radius: 2px;
  padding: 3px 8px;
  outline: none;
}
#visitor-listing .filters-pop-up .filter-box .input-control::placeholder {
  color: #FCEBD5;
  opacity: 1;
}
#visitor-listing .filters-pop-up .filter-box select {
  appearance: none;
  -webkit-appearance: none;
  color: #FCEBD5;
  cursor: pointer;
  outline: none;
  position: relative;
}
#visitor-listing .filters-pop-up .filter-box select.input-control {
  padding-right: 2.5rem;
}
#visitor-listing .filters-pop-up .filter-box select option {
  background-color: #FCEBD5;
  color: #A16A5E;
}
#visitor-listing .filters-pop-up .filter-box p {
  margin-bottom: 1rem;
}
#visitor-listing .filters-pop-up .filter-box .filter-box-inner {
  width: 100%;
  display: flex;
  align-items: baseline;
  justify-content: space-between;
}
#visitor-listing .filters-pop-up .filter-box .filter-box-inner input {
  margin-left: 5px;
}
#visitor-listing .filters-pop-up .filter-box .filter-box-inner input[type=number]::-webkit-inner-spin-button,
#visitor-listing .filters-pop-up .filter-box .filter-box-inner input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
#visitor-listing .filters-pop-up .filter-box .filter-box-inner input[type=number] {
  -moz-appearance: textfield;
  -webkit-appearance: textfield;
  appearance: textfield;
}
#visitor-listing .filters-pop-up .filters-submit-button {
  margin-left: auto;
  margin-top: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  min-height: 67px;
  width: 65px;
  background-color: #D44C2E;
  border: none;
  border-radius: 2px;
  cursor: pointer;
  z-index: 15;
}
#visitor-listing .filters-pop-up .filters-submit-button img {
  transition: all 200ms ease-in-out;
}
#visitor-listing .filters-pop-up .filters-submit-button:hover img {
  transform: scale(1.075);
}
#visitor-listing .select-arrow {
  position: absolute;
  width: 0px;
  height: 0px;
  border-style: solid;
  border-width: 7px 8px 0;
  border-color: #FCEBD5 transparent transparent transparent;
  transform: rotate(0deg);
  right: 1rem;
  bottom: 0.55rem;
  transition: all 200ms ease-in-out;
  pointer-events: none;
}
#visitor-listing .select-arrow.flip {
  transform: rotate(180deg);
}
#visitor-listing .no-results {
  background-color: #A16A5E;
  color: #FCEBD5;
  border-radius: 5px;
  padding: 1rem 2rem;
  text-align: center;
  margin-inline: auto;
  margin-top: 35vh;
  max-width: 300px;
}
#visitor-listing .no-results h2 {
  font-size: 1.875rem;
  font-weight: 500;
  margin-bottom: 0.5rem;
}
#visitor-listing .no-results p {
  font-size: 1.125rem;
  margin-bottom: 1rem;
}
#visitor-listing .no-results .buttons-wrap .no-results-btn#to-filters {
  background-color: #D44C2E;
  color: #FCEBD5;
}
#visitor-listing .no-results .buttons-wrap .no-results-btn:hover {
  filter: brightness(0.9);
}

#artist-home-page .current-artist-info {
  padding: 1.625rem 1.125rem;
  background-color: #EDD5BB;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, auto);
  gap: 1.125rem;
  text-align: center;
}
#artist-home-page .current-artist-info .artist-info__item-sold {
  grid-row: 1/2;
  grid-column: 1/2;
}
#artist-home-page .current-artist-info .artist-info__total-income {
  grid-row: 1/2;
  grid-column: 2/3;
}
#artist-home-page .current-artist-info .artist-info__auction-item {
  grid-row: 2/3;
  grid-column: 1/-1;
  background-color: #D44C2E;
  color: #FCEBD5;
  border-radius: 2px;
  padding-block: 0.625rem;
}
#artist-home-page .current-artist-info .artist-info__auction-item span {
  line-height: 60px;
}
#artist-home-page .current-artist-info .artist-info__item-sold,
#artist-home-page .current-artist-info .artist-info__total-income {
  background-color: #A16A5E;
  color: #FCEBD5;
  border-radius: 2px;
  padding-block: 0.9rem;
}
#artist-home-page .current-artist-info .artist-info__item-sold p,
#artist-home-page .current-artist-info .artist-info__total-income p,
#artist-home-page .current-artist-info .artist-info__auction-item p {
  font-weight: 300;
}
#artist-home-page .current-artist-info .artist-info__item-sold span,
#artist-home-page .current-artist-info .artist-info__total-income span,
#artist-home-page .current-artist-info .artist-info__auction-item span {
  font-size: 3rem;
  font-weight: 500;
}
#artist-home-page .current-artist-chart {
  padding: 1.25rem 1.125rem;
}
#artist-home-page .current-artist-chart p {
  color: #A16A5E;
  font-size: 1.125rem;
  font-weight: 300;
  margin-bottom: 0.563rem;
}
#artist-home-page .current-artist-chart .radio-buttons-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 2.875rem;
}
#artist-home-page .current-artist-chart .radio-buttons-container input[type=radio] {
  display: none;
}
#artist-home-page .current-artist-chart .radio-buttons-container input[type=radio]:checked + label {
  background-color: #D44C2E;
}
#artist-home-page .current-artist-chart .radio-buttons-container label {
  color: #FCEBD5;
  background-color: #A16A5E;
  font-size: 0.75rem;
  font-weight: 700;
  text-align: center;
  cursor: pointer;
  border-radius: 2px;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.25);
  width: 100px;
  padding-block: 6.5px;
}
#artist-home-page #artist-info-chart {
  height: 500px;
}

#artist-items-page {
  position: relative;
}
#artist-items-page .add-new-item-container {
  background-color: #EDD5BB;
  padding-top: 1.625rem;
  padding-bottom: 1.25rem;
}
#artist-items-page .add-new-item-container .add-new-item-container-inner {
  display: flex;
  flex-direction: column;
  min-height: 120px;
  background-color: #FCEBD5;
  padding: 0.688rem 1.125rem;
}
#artist-items-page .add-new-item-container .add-new-item-container-inner .add-new-item {
  flex: 1;
  border: 2px dashed #A16A5E;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
#artist-items-page .add-new-item-container .add-new-item-container-inner .add-new-item span {
  font-size: 1.125rem;
  color: #A16A5E;
  font-weight: 300;
}
#artist-items-page .artist-items-container {
  background-color: #EDD5BB;
  display: flex;
  flex-direction: column;
  gap: 1.25rem;
}
#artist-items-page .artist-items-container .artist-item {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.25);
}
#artist-items-page .artist-items-container .artist-item .item-img {
  margin-bottom: 5px;
}
#artist-items-page .artist-items-container .artist-item .item-info {
  padding-inline: 1.125rem;
  padding-bottom: 0.25rem;
}
#artist-items-page .artist-items-container .artist-item .item-info .item-info-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 0.75rem;
}
#artist-items-page .artist-items-container .artist-item .item-info .item-info-header h2 {
  font-size: 0.875rem;
  color: #A16A5E;
}
#artist-items-page .artist-items-container .artist-item .item-info .item-info-header .item-date {
  font-size: 0.5625rem;
  color: #E09686;
}
#artist-items-page .artist-items-container .artist-item .item-info .item-info-header .item-price {
  color: #FCEBD5;
  background-color: #A16A5E;
  padding: 1px 8px;
  border-radius: 2px;
  font-size: 0.75rem;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.25);
}
#artist-items-page .artist-items-container .artist-item .item-info .artist-item-description {
  font-size: 0.6875rem;
  color: #A16A5E;
}
#artist-items-page .artist-items-container .artist-item .item-buttons {
  background-color: #A16A5E;
  padding: 0.625rem 1.125rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
#artist-items-page .artist-items-container .artist-item .item-buttons .item-btn {
  padding: 0.406rem 1.094rem;
  border: none;
  border-radius: 2px;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.25);
  font-size: 0.75rem;
  font-weight: 700;
  cursor: pointer;
}
#artist-items-page .artist-items-container .artist-item .item-buttons .item-btn.auction-btn {
  background-color: #1B59AC;
  color: #F8F8F8;
}
#artist-items-page .artist-items-container .artist-item .item-buttons .item-btn.unpublish-btn {
  background-color: #1BAC6F;
  color: #F8F8F8;
}
#artist-items-page .artist-items-container .artist-item .item-buttons .item-btn.publish-btn {
  background-color: #E5E5E5;
  color: #5A5A5A;
}
#artist-items-page .artist-items-container .artist-item .item-buttons .item-btn.remove-btn {
  background-color: #D44C2E;
  color: #FCEBD5;
}
#artist-items-page .artist-items-container .artist-item .item-buttons .item-btn.edit-btn {
  background-color: #FCEBD5;
  color: #A16A5E;
}
#artist-items-page .add-new-item-pop-up {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  display: flex;
  flex-direction: column;
  min-height: calc(100vh - 69px);
  background-color: #A16A5E;
  color: #FCEBD5;
  z-index: 1;
  padding: 0.938rem 1.125rem 1.375rem;
  transform: translateX(100%);
  transition: all 300ms ease-in-out;
}
#artist-items-page .add-new-item-pop-up.show {
  transform: translateX(0%);
}
#artist-items-page .add-new-item-pop-up .add-new-item-pop-up__header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 0.4rem;
  margin-bottom: 0.5rem;
}
#artist-items-page .add-new-item-pop-up .add-new-item-pop-up__header h2 {
  font-size: 1.875rem;
  font-weight: 500;
}
#artist-items-page .add-new-item-pop-up .add-new-item-pop-up__header label {
  font-size: 1.125rem;
  font-weight: 300;
}
#artist-items-page .add-new-item-pop-up .add-new-item-pop-up__header input[type=checkbox] {
  margin-left: 0.5rem;
  appearance: none;
  background-color: #EDD5BB;
  width: 18px;
  height: 17px;
  border-radius: 2px;
  position: relative;
  transition: all 300ms ease-in-out;
}
#artist-items-page .add-new-item-pop-up .add-new-item-pop-up__header input[type=checkbox]::before {
  content: "";
  position: absolute;
  left: 1px;
  top: 1px;
  width: 15px;
  height: 15px;
  background-image: url("../images/tickmark.png");
  vertical-align: middle;
  background-size: contain;
  background-repeat: no-repeat;
  transform: scale(0);
  transition: all 200ms ease-in-out;
}
#artist-items-page .add-new-item-pop-up .add-new-item-pop-up__header input[type=checkbox]:checked::before {
  transform: scale(1);
}
#artist-items-page .add-new-item-pop-up .input-group {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: start;
  position: relative;
}
#artist-items-page .add-new-item-pop-up .input-group:not(:has(input[name=newItemImgUrl])) {
  margin-bottom: 1.5rem;
}
#artist-items-page .add-new-item-pop-up .input-group:has(label[for=newItemImgUrl]) .message {
  bottom: -2.3rem;
  width: 150px;
  text-align: right;
  line-height: 18px;
}
#artist-items-page .add-new-item-pop-up .input-group label {
  font-size: 1.125rem;
  font-weight: 300;
}
#artist-items-page .add-new-item-pop-up .input-group select {
  appearance: none;
  -webkit-appearance: none;
  color: #FCEBD5;
  cursor: pointer;
  outline: none;
  position: relative;
}
#artist-items-page .add-new-item-pop-up .input-group select.input-control {
  padding-right: 2.5rem;
}
#artist-items-page .add-new-item-pop-up .input-group select option {
  background-color: #FCEBD5;
  color: #A16A5E;
}
#artist-items-page .add-new-item-pop-up .input-group textarea {
  height: 104px;
}
#artist-items-page .add-new-item-pop-up .input-group .input-control {
  font-size: 0.8125rem;
  min-width: 100%;
  background-color: transparent;
  color: #FCEBD5;
  border: 1px solid #FCEBD5;
  border-radius: 2px;
  padding: 3px 8px;
  outline: none;
}
#artist-items-page .add-new-item-pop-up .input-group .input-control::placeholder {
  color: #FCEBD5;
  opacity: 1;
}
#artist-items-page .add-new-item-pop-up .input-group-wrapper {
  display: flex;
  align-items: center;
  gap: 1.75rem;
}
#artist-items-page .add-new-item-pop-up .input-group-wrapper .input-group {
  flex-basis: 50%;
  width: auto;
}
#artist-items-page .add-new-item-pop-up .input-group-wrapper .input-group label {
  width: 100%;
}
#artist-items-page .add-new-item-pop-up .input-group-wrapper input[type=number]::-webkit-inner-spin-button,
#artist-items-page .add-new-item-pop-up .input-group-wrapper input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
#artist-items-page .add-new-item-pop-up .input-group-wrapper input[type=number] {
  -moz-appearance: textfield;
  -webkit-appearance: textfield;
  appearance: textfield;
}
#artist-items-page .add-new-item-pop-up span {
  text-align: center;
  margin-block: 0.5rem;
}
#artist-items-page .add-new-item-pop-up .snapshot-box {
  min-height: 309px;
  border: 2px dashed;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  margin-bottom: 1.25rem;
  cursor: pointer;
}
#artist-items-page .add-new-item-pop-up .snapshot-box .snapshot-box__inner-wrap {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 1.125rem;
  font-weight: 300;
}
#artist-items-page .add-new-item-pop-up .snapshot-box .camImage {
  min-height: 309px;
  object-fit: cover;
  object-position: center;
}
#artist-items-page .add-new-item-pop-up .snapshot-box .trash-icon {
  height: 23px;
  width: 22px;
  position: absolute;
  top: 0.75rem;
  right: 0.75rem;
  background-image: url("../images/trash-icon.png");
  background-position: center;
  background-size: cover;
  cursor: pointer;
}
#artist-items-page .add-new-item-pop-up .add-new-item-buttons-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
#artist-items-page .add-new-item-pop-up .add-new-item-buttons-container .new-item-btn {
  width: 175px;
  padding-block: 0.5rem;
  font-size: 1.125rem;
  font-weight: 700;
  border-radius: 2px;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.25);
  border: none;
  cursor: pointer;
}
#artist-items-page .add-new-item-pop-up .add-new-item-buttons-container .new-item-btn.add-save-btn {
  background-color: #D44C2E;
  color: #FCEBD5;
}
#artist-items-page .add-new-item-pop-up .add-new-item-buttons-container .new-item-btn.cancel-btn {
  background-color: #F8F8F8;
  color: #5A5A5A;
}
#artist-items-page .add-new-item-pop-up .select-arrow {
  position: absolute;
  width: 0px;
  height: 0px;
  border-style: solid;
  border-width: 7px 8px 0;
  border-color: #FCEBD5 transparent transparent transparent;
  transform: rotate(0deg);
  right: 1rem;
  bottom: 0.55rem;
  transition: all 200ms ease-in-out;
  pointer-events: none;
}
#artist-items-page .add-new-item-pop-up .select-arrow.flip {
  transform: rotate(180deg);
}
#artist-items-page .add-new-item-pop-up .message {
  position: absolute;
  right: 0;
  bottom: -1.35rem;
  font-size: 0.8125rem;
  font-weight: 300;
}
#artist-items-page .delete-confirmation-pop-up {
  background-color: #A16A5E;
  color: #FCEBD5;
  border-radius: 5px;
  padding: 1rem 2rem;
  text-align: center;
  margin-inline: auto;
  width: 300px;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 999;
}
#artist-items-page .delete-confirmation-pop-up h3 {
  font-size: 1.125rem;
  font-weight: 500;
  margin-bottom: 0.5rem;
}
#artist-items-page .delete-confirmation-pop-up p {
  font-size: 1.125rem;
  margin-bottom: 1rem;
}
#artist-items-page .delete-confirmation-pop-up .buttons-wrap .delete-confirmation-btn#confirm-delete {
  background-color: #D44C2E;
  color: #FCEBD5;
}
#artist-items-page .delete-confirmation-pop-up .buttons-wrap .delete-confirmation-btn:hover {
  filter: brightness(0.9);
}
#artist-items-page .snapshot-pop-up {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  display: flex;
  flex-direction: column;
  min-height: calc(100vh - 69px);
  background-color: #A16A5E;
  color: #FCEBD5;
  z-index: 1;
  padding: 0.938rem 1.125rem 1.375rem;
  transform: translateX(100%);
  transition: all 300ms ease-in-out;
  align-items: center;
}
#artist-items-page .snapshot-pop-up.show {
  transform: translateX(0%);
}
#artist-items-page .snapshot-pop-up .backToAddNewItem {
  background-color: #F8F8F8;
  color: #5A5A5A;
  margin-bottom: 1.5rem;
  margin-top: 0.375rem;
}
#artist-items-page .snapshot-pop-up .realTimeCam {
  width: 100%;
  height: auto;
}
#artist-items-page .snapshot-pop-up .realTimeCamCanvas {
  display: none;
}
#artist-items-page .snapshot-pop-up .captureRealTimeCamBtn {
  border: none;
  background-color: transparent;
  cursor: pointer;
  background-image: url("../images/camera-icon.png");
  background-position: center;
  background-size: cover;
  width: 2rem;
  height: 2rem;
}
#artist-items-page .snapshot-pop-up .captureRealTimeCamBtn {
  margin-top: 2rem;
}

/*# sourceMappingURL=main.css.map */
