@use '../abstracts/mixins' as *;
@use '../abstracts/variables' as *;

body,
html {
    overflow-x: hidden !important;
}

body {
    min-height: 100vh;
    font-family: $font-family-base;
    background-color: $bg-color-primary;
    position: relative;
}

.hidden {
    display: none !important;
}

.pop-up-overlay {
    position: absolute;
    min-height: 100%;
    min-width: 100%;

    top: 0;
    left: 0;

    background-color: black;
    opacity: 0.5;
    z-index: 99;
}