@use '../abstracts/mixins' as *;
@use '../abstracts/variables' as *;

#visitor-home-page {

    .hero {
        padding-block: 3px;

        .hero-inner {
            background-image: url('../images/assets/Bricks.png');
            background-position: center;
            background-size: auto;
            background-repeat: no-repeat;

            display: flex;
            align-items: center;
            justify-content: space-between;
            padding: 2.5rem 1.125rem;


            @include mobile-m-styles {
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;

                text-align: center;
                gap: 1rem;
                padding: 0.85rem 1.125rem;
            }

            @include mobile-l-styles {
                background-size: cover;
            }

            h2 {
                font-size: $font-size-headidng-large;
                width: 60%;
                color: $color-primary;
                font-weight: $font-weight-medium;
                line-height: 35px;

                @include mobile-m-styles {
                    width: 80%;
                }

            }

            .listing-button {
                font-size: $font-size-extra-small;
                font-weight: $font-weight-bold;
                color: $bg-color-primary;
                background-color: $color-primary;

                padding: 0.3rem 1.225rem;
                box-shadow: $box-shadow-one;
                border-radius: $border-radius-one;

                transition: all 200ms ease-in-out;

                &:hover {
                    background-color: rgba($color-primary, 0.75);
                }
            }
        }
    }

    .slideshow-gallery {
        padding-block: 2.75rem;
        background-color: $bg-color-secondary;

        .slideshow-container-right {
            margin-bottom: 2.625rem;
            animation: autoScrollRight 50s linear infinite;
        }

        .slideshow-container-left {
            animation: autoScrollLeft 50s linear infinite;
        }

        .slideshow-container-right,
        .slideshow-container-left {

            .slideshow-track {
                display: flex;
                width: calc(240px * 18);
            }

            .slideshow-img {
                width: 218px;
                height: 155px;

                img {
                    height: 100%;
                    object-fit: cover;
                    object-position: center;
                    padding-inline: 0.844rem;

                    cursor: pointer;
                }

                &:hover {
                    transform: scale(1.125);
                    transition: 500ms all;
                }
            }

            &:hover {
                animation-play-state: paused;
            }

        }

        .slideshow-container-right {
            .slideshow-img {
                img {
                    filter: drop-shadow(-5px -5px 5px rgba(0, 0, 0, 0.35));
                }
            }
        }

        .slideshow-container-left {
            .slideshow-img {
                img {
                    filter: drop-shadow(5px 5px 5px rgba(0, 0, 0, 0.35));
                }
            }
        }
    }

    .testimonials {
        padding: 4.688rem 4.313rem;
        position: relative;

        @include mobile-m-styles {
            padding: 2.5rem 2.7rem;
        }

        .overflow-control {
            min-height: 164px;
            overflow-x: hidden;

            .carousel {
                min-height: 164px;
                display: flex;
                align-items: center;

                transition: 300ms ease-in-out;
            }
        }

        .testimonials-arrow-left,
        .testimonials-arrow-right {
            position: absolute;
            top: 50%;

            width: 14px;
            height: 52px;

            border: none;
            background: transparent;

            transform: translateY(-50%);
            cursor: pointer;
        }

        .testimonials-arrow-left {
            left: 1rem;
        }

        .testimonials-arrow-right {
            right: 1rem;
        }

        .testimonials__inner-container {
            display: flex;
            align-items: center;
            justify-content: space-between;
            position: relative;

            min-width: 100%;

            .border-line {
                position: absolute;
                content: '';

                height: 164px;
                width: 1px;
                background-color: $color-primary;
                left: 50%;
                top: 50%;

                transform: translate(-50%, -50%);
            }

            .author-box,
            .testimoanil-text-box {
                width: 106px;

                @include mobile-l-styles {
                    width: 40%;
                }
            }

            .author-box {
                position: relative;
                background-color: $bg-color-tertiary;
                color: $color-base-tertiary;

                padding: 1.75rem 0.5rem 0.5rem;

                @include mobile-l-styles {
                    padding: 2.3rem 0.5rem 0.5rem;
                }

                .author__text {
                    font-size: $font-size-smallest;
                    line-height: 138%;
                    text-align: center;
                }

                .author__img {
                    width: 46px;
                    height: 46px;
                    border-radius: 100ch;
                    border: 2px solid $color-primary;
                    overflow: hidden;

                    position: absolute;
                    top: -50%;
                    left: 50%;

                    transform: translate(-50%, 50%);
                }
            }

            .testimoanil-text-box {
                font-size: $font-size-smallest;
                line-height: 138%;

                color: $color-primary;
                text-align: center;
            }
        }
    }

    @keyframes autoScrollRight {
        0% {
            transform: translateX(0);
        }

        100% {
            transform: translateX(calc(-218px * 9));
        }
    }

    @keyframes autoScrollLeft {
        0% {
            transform: translateX(calc(-218px * 9));
        }

        100% {
            transform: translateX(0);
        }
    }
}