@use '../abstracts/mixins' as *;
@use '../abstracts/variables' as *;

#visitor-listing {

    .listing-gallery {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 2.5rem;
        padding-top: 2.25rem;

        transition: all 200ms ease-in-out;

        background-color: $bg-color-secondary;

        .listed-item-container {
            color: $color-primary;
            background-color: $bg-color-primary;
            width: 100%;

            box-shadow: $box-shadow-three;

            .listed-item__img-box {
                img {
                    height: 162px;
                    width: 100%;
                    object-fit: cover;
                    object-position: center;
                }
            }

            .listed-item__text-box {
                padding: 3px 18px 5px;

                .artist-and-price-container {
                    display: flex;
                    align-items: center;
                    justify-content: space-between;

                    .artist-name {
                        font-family: $font-family-secondary;
                        font-size: $font-size-headidng-large;
                        line-height: 25px;
                        margin-bottom: 4px;
                    }

                    .item-price {
                        color: $bg-color-primary;
                        background-color: $color-primary;
                        padding: 1px 8px;
                        border-radius: $border-radius-one;
                        font-size: $font-size-extra-small;
                        box-shadow: $box-shadow-one;
                    }
                }

                .item-title {
                    font-size: $font-size-headidng-small;
                    margin-bottom: 3px;
                }

                .item-description {
                    font-size: $font-size-base;
                }
            }

            &:nth-child(even) {
                color: $bg-color-primary;
                background-color: $color-primary;

                .item-price {
                    color: $color-primary !important;
                    background-color: $bg-color-primary !important;
                }
            }
        }
    }

    .filters-button {
        position: fixed;
        right: 1.125rem;
        bottom: 1.3rem;

        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;

        height: 67px;
        width: 65px;
        background-color: $color-secondary;

        border-radius: $border-radius-one;

        cursor: pointer;
        z-index: 15;

        transform: rotate(90deg);

        img {
            display: none;
        }

        .line {

            width: 41px;
            height: 4px;
            background-color: $bg-color-primary;
            position: relative;
            transition: all 200ms ease-in-out;

            opacity: 1;

            &:nth-of-type(1) {
                &::after {
                    transition: all 200ms ease-in-out;
                    position: absolute;
                    content: '';
                    top: -4px;
                    left: 50%;
                    height: 12px;
                    width: 4px;
                    background-color: $bg-color-primary;
                    transform: translate(-50%);
                }
            }

            &:nth-of-type(2) {
                &::after {
                    transition: all 200ms ease-in-out;
                    position: absolute;
                    content: '';
                    top: -4px;
                    left: 20%;
                    height: 12px;
                    width: 4px;
                    background-color: $bg-color-primary;
                    transform: translate(-20%);
                }
            }

            &:nth-of-type(3) {
                &::after {
                    transition: all 200ms ease-in-out;
                    position: absolute;
                    content: '';
                    top: -4px;
                    left: 80%;
                    height: 12px;
                    width: 4px;
                    background-color: $bg-color-primary;
                    transform: translate(-80%);
                }
            }
        }

        &:hover .line:nth-of-type(1)::after {
            left: 20%;
            transform: translate(-20%);
        }

        &:hover .line:nth-of-type(2)::after {
            left: 80%;
            transform: translate(-80%);
        }

        &:hover .line:nth-of-type(3)::after {
            left: 50%;
            transform: translate(-50%);
        }

        &:hover {
            img {
                transform: rotate(-90deg) scale(1.1);
            }
        }
    }

    .filters-pop-up {
        position: absolute;
        left: 0;
        right: 0;
        top: 69px;

        display: flex;
        flex-direction: column;

        min-height: calc(100vh - 69px);
        background-color: $color-primary;
        color: $bg-color-primary;
        z-index: 1;

        padding: 0.938rem 1.125rem 1.375rem;

        transform: translateX(100%);
        transition: all 300ms ease-in-out;

        &.show {
            transform: translateX(0%);
        }

        .filters-pop-up__header {
            display: flex;
            justify-content: space-between;
            padding-top: 0.4rem;
            margin-bottom: 1.125rem;

            h2 {
                font-size: $font-size-headidng-large;
                font-weight: $font-weight-medium;
            }

            .close-filters-button {
                background: transparent;
                border: none;
                cursor: pointer;
                transition: all 200ms ease-in-out;

                &:hover {
                    transform: scale(1.075);
                }
            }
        }



        .filter-box {
            font-weight: $font-weight-light;
            display: flex;
            flex-direction: column;
            align-items: start;

            position: relative;

            padding-bottom: 2rem;
            border-bottom: 2px solid $bg-color-primary;

            margin-bottom: 2.313rem;

            label {
                font-size: $font-size-small;
                margin-bottom: 1rem;

                position: relative;
            }

            label.sel {
                margin-bottom: 0;
                display: flex;
                flex-direction: column;

                select {
                    margin-top: 1rem;
                }

            }

            .input-control {
                font-size: $font-size-smaller;

                background-color: transparent;
                color: $bg-color-primary;
                border: 1px solid $bg-color-primary;
                width: 97px;
                border-radius: $border-radius-one;
                padding: 3px 8px;
                outline: none;

                &::placeholder {
                    color: $bg-color-primary;
                    opacity: 1;
                }
            }

            select {
                appearance: none;
                -webkit-appearance: none;
                color: $bg-color-primary;

                cursor: pointer;
                outline: none;
                position: relative;

                &.input-control {
                    padding-right: 2.5rem;
                }

                option {
                    background-color: $bg-color-primary;
                    color: $color-primary;
                }
            }


            p {
                margin-bottom: 1rem;
            }

            .filter-box-inner {
                width: 100%;
                display: flex;
                align-items: baseline;
                justify-content: space-between;

                input {
                    margin-left: 5px;
                }

                input[type="number"]::-webkit-inner-spin-button,
                input[type="number"]::-webkit-outer-spin-button {
                    -webkit-appearance: none;
                    margin: 0;
                }

                input[type="number"] {
                    -moz-appearance: textfield;
                    -webkit-appearance: textfield;
                    appearance: textfield;
                }
            }

        }

        .filters-submit-button {
            margin-left: auto;
            margin-top: auto;

            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: space-around;

            min-height: 67px;
            width: 65px;
            background-color: $color-secondary;

            border: none;
            border-radius: $border-radius-one;

            cursor: pointer;
            z-index: 15;

            img {
                transition: all 200ms ease-in-out;
            }

            &:hover {
                img {
                    transform: scale(1.075);
                }
            }
        }
    }

    .select-arrow {
        position: absolute;

        width: 0px;
        height: 0px;
        border-style: solid;

        border-width: 7px 8px 0;
        border-color: $bg-color-primary transparent transparent transparent;
        transform: rotate(0deg);
        right: 1rem;
        bottom: 0.55rem;

        transition: all 200ms ease-in-out;
        pointer-events: none;

        &.flip {
            transform: rotate(180deg);
        }
    }

    .no-results {
        background-color: $color-primary;
        color: $bg-color-primary;
        border-radius: $border-radius-three;
        padding: 1rem 2rem;
        text-align: center;

        h2 {
            font-size: $font-size-headidng-large;
            font-weight: $font-weight-medium;
            margin-bottom: 0.5rem;
        }

        p {
            font-size: $font-size-headidng-medium;
            margin-bottom: 1rem;
        }

        .buttons-wrap {
            @extend %buttons-wrap;

            .no-results-btn {
                @extend %buttons-wrap-btn;

                &#to-filters {
                    background-color: $color-secondary;
                    color: $bg-color-primary;
                }

                &:hover {
                    filter: brightness(0.9);
                }
            }
        }

        margin-inline: auto;
        margin-top: 35vh;
        max-width: 300px;
    }
}