@use "./variables" as *;
@use "sass:math";

// RESPONSIVE LAPTOP FIRST DESIGN MIXINS


@mixin mobile-l-styles {
    @media (min-width: 420px) {
        @content;
    }
}

@mixin mobile-m-styles {
    @media (max-width: 380px) {
        @content;
    }
}

// extends 

%buttons-wrap {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-inline: 5%;
}

%buttons-wrap-btn {
    background-color: $bg-color-primary;
    color: $color-primary;
    font-weight: $font-weight-medium;
    padding: 0.25rem 0.75rem;
    border-radius: $border-radius-two;
    border: none;
    cursor: pointer;
    transition: all 200ms ease-in-out;
}

%input-type-number {

    input[type="number"]::-webkit-inner-spin-button,
    input[type="number"]::-webkit-outer-spin-button {
        -webkit-appearance: none;
        margin: 0;
    }

    input[type="number"] {
        -moz-appearance: textfield;
        -webkit-appearance: textfield;
        appearance: textfield;
    }
}

%message-pop-up-one {
    position: fixed;

    background-color: $color-primary;
    color: $bg-color-primary;
    border-radius: $border-radius-three;
    padding: 1rem 2rem;
    text-align: center;

    h4 {
        font-size: $font-size-headidng-large;
        font-weight: $font-weight-medium;
        margin-bottom: 0.5rem;

        @include mobile-m-styles {
            font-size: $font-size-headidng-medium;
        }
    }

    p {
        font-size: $font-size-headidng-medium;
        margin-bottom: 1rem;

        @include mobile-m-styles {
            font-size: $font-size-headidng-small;
        }
    }

    margin-inline: auto;
    min-width: 330px;

    z-index: 9999;
    left: 50%;
    top: 50%;

    transform: translate(-50%, -50%);

    @include mobile-m-styles {
        min-width: unset;
        width: 80%;
    }
}