@use "./variables" as *;
@use "sass:math";

%buttons-wrap {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-inline: 5%;
}

%buttons-wrap-btn {
    background-color: $bg-color-primary;
    color: $color-primary;
    font-weight: $font-weight-medium;
    padding: 0.25rem 0.75rem;
    border-radius: $border-radius-two;
    border: none;
    cursor: pointer;
    transition: all 200ms ease-in-out;
}

%input-type-number {

    input[type="number"]::-webkit-inner-spin-button,
    input[type="number"]::-webkit-outer-spin-button {
        -webkit-appearance: none;
        margin: 0;
    }

    input[type="number"] {
        -moz-appearance: textfield;
        -webkit-appearance: textfield;
        appearance: textfield;
    }
}