@use 'sass:math';

@function rem-calc($size) {
    @return (math.div($size, 16)) * 1rem;
}

// Font settings

$font-family-base: 'Roboto', sans-serif;
$font-family-secondary: 'Reenie Beanie', cursive;

// font weight 

$font-weight-regular: 400;

$font-weight-bold: 700;
$font-weight-medium: 500;
$font-weight-light: 300;

// font size

$font-size-base: rem-calc(11);

$font-size-large: rem-calc(48);
$font-size-medium: rem-calc(32);
$font-size-small: rem-calc(18);

$font-size-smaller: rem-calc(13);
$font-size-extra-small: rem-calc(12);

$font-size-smallest: rem-calc(9);

// headings size

$font-size-headidng-main: rem-calc(45);

$font-size-headidng-large: rem-calc(30);
$font-size-headidng-medium: rem-calc(18);
$font-size-headidng-small: rem-calc(14);

// Color settings

$color-base: #5A5A5A;
$color-base-secondary: #B9B9B9;
$color-base-tertiary: #F8F8F8;

$bg-color-primary: #FCEBD5;
$bg-color-secondary: #EDD5BB;
$bg-color-tertiary: #E09686;
$bg-color-quaternary: #E5E5E5;

$color-primary: #A16A5E;
$color-secondary: #D44C2E;
$color-tertiary: #1B59AC;
$color-quaternary: #1BAC6F;

// Box shadows 

$box-shadow-one: 0px 1px 1px rgba(0, 0, 0, 0.25);
$box-shadow-two: 0px 2px 2px rgba(0, 0, 0, 0.25);
$box-shadow-three: 0px 3px 3px rgba(0, 0, 0, 0.25);
$box-shadow-four: 0px 4px 4px rgba(0, 0, 0, 0.25);

// Border radius

$border-radius-one: 2px;
$border-radius-two: 3px;
$border-radius-three: 5px;

// Size settings

$gutter-base: rem-calc(30);